include README.md
include LICENSE
recursive-include arches_her/datatypes *.py
recursive-include arches_her/migrations *.py
recursive-include arches_her/functions *.py
recursive-include arches_her/pkg *.py *.json *.xml *.sql